@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

@import 'open-props/style';
@import 'open-props/normalize';

* {
	outline: 1px solid var(--gray-9);
}

:root {
	--font-sans: 'Poppins', sans-serif;
	--font-mono: 'Source Code Pro', monospace;
	--brand: var(--red-5);
	--link-visited: var(--gray-4);
}

*:focus {
	border-radius: var(--radius-3);
	outline-color: var(--brand);
}

html {
	background-image: radial-gradient(hsl(200 40% 8%), hsl(200 20% 4%));
	background-attachment: fixed;
}

body {
	padding: 0 var(--size-8);
}

h1,
h2,
h3,
h4 {
	font-weight: var(--font-weight-6);
}

a {
	margin: 0;
	padding: 0;
	color: var(--gray-4);
	transition: all 0.3s ease;
}

a:hover {
	color: var(--brand);
	text-decoration: none;
}

input,
select,
textarea,
button {
	border: 1px solid var(--gray-9);
	border-radius: var(--radius-3);
	box-shadow: var(--shadow-1);
}

.btn {
	padding: var(--size-2) var(--size-4);
	border-radius: var(--radius-3);
	background-color: var(--gray-8);
	color: var(--gray-0);
	font-weight: var(--font-weight-6);
	transition: all 0.3s ease;
}

.btn:hover {
	background-color: var(--gray-9);
}

.btn-danger {
	background: var(--red-8);
}

.btn-danger:hover {
	background-color: var(--red-9);
}
